* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    margin: 0 auto;
    font-family: 'Kanit', sans-serif;
}

/* ---- Navigation ---- */
nav.main-nav {
    position: fixed;
    top: 0;
    height: 40px;
    background-color: white;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-weight: 200;
    box-shadow: 2px 2px 5px grey;
}

nav.main-nav li {
	list-style: none;
	display: block;
}

nav.main-nav a {
    color: black;
	text-decoration: none;
	display: block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

nav.main-nav a:hover {
    color: white;
    background-color: black;
}

/* Top Level Navigation */
nav.main-nav > ul {
    display: flex;
    position: relative;
}

nav.main-nav > ul > li {
	width: 22.5%;
}

nav.main-nav > ul > li:last-child{
    width: 10%;
}

nav.main-nav > ul > li > a {
	height: 40px;
	line-height: 40px;
	background-color: white;
	font-size: 1.1em;
    color: black;
    font-weight: 400;
}

/* Sub Level Navigation */
nav.main-nav ul.submenu {
    background-color: white;
    position: absolute;
    top: 40px;
    width: 22.5%;
    display: none;
}

nav.main-nav ul.submenu > li > a {
    line-height: 40px;
    text-align: center;
}

nav.main-nav > ul > li:hover > ul.submenu {
	 display: block;
     box-shadow: 2px 2px 5px grey;
}


/* ---- Search ---- */
.search-bar {
    height: 40px;
    width: 10%;
    text-align: right;
}

.search-bar input {
    border-top: solid 0 white;
    border-left: solid 0 white;
    border-right: solid 0 white;
    border-bottom: solid 2px black;
    border-radius: 2px;
    height: 35px;
    width: 100%;
}

.search-bar input[placeholder] {
    padding-left: 5px;
}

.search-bar input[name=search] {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

input[name=search]:focus {
    height: 45px;
    border-color: #8DC58C;
    border-bottom-width: 4px;
}

.search-bar i {
    padding: 7px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.search-bar:hover {
    color: white;
    background-color: black;
}

/* ---- Header ---- */
header {
    font-weight: bold;
    top: 40px;
    max-height: 150px;
    margin-top: 40px;
    padding: 10px;
    background-color: #8DC58C;
    background-image: url(../images/header-large.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 365px;
    box-shadow: 2px 2px 5px grey;
}

header h1 {
    font-size: 2.5em;
}
header h1, header h2 {
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    padding: 5px 0;
}

/* ---- Breadcrumb Navigation ---- */
nav.breadcrumb-nav {
    height: 30px;
    padding: 10px;
    margin: 0 10%;
}

nav.breadcrumb-nav ul {
    display:flex;
    list-style: none;
}

nav.breadcrumb li {
    color: black;
    font-weight: 400;
}

nav.breadcrumb-nav a {
	text-decoration: none;
    color: black;
    transition: all .35s ease;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
}

nav.breadcrumb-nav a:hover {
    color: #8DC58C;
}

nav.breadcrumb-nav i {
    padding: 0 10px;
}

/* ---- Main ---- */
.img-highlight ul li a img {
    box-shadow: 2px 2px 10px lightgrey, -2px -2px 10px lightgrey;
}

/* Heading */
.heading {
    margin: 0 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px grey;
    background-color: black;
}

#country-heading {
    background-color: #C8EAFB; /* colour only */
}

#aust-heading {
    background-color: #A98EC5; /* colour only*/

}

#malay-heading {
    background-color: #38271E; /* colour only*/
}

#nz-heading {
    background-color: #9FB7C3; /* colour only*/

}

.heading h2 {
    font-size: 2.5em;
    background-color: rgba(255,255,255,0.5);
    color: black;
    text-align: center;
    padding: 20px;
}

/* Home Page */
.view-more {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-bottom: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.view-more:hover {
    color: #8DC58C;
}

#home-spiel {
    width: 100%;
}

#home-spiel h3 {
    font-size: 2em;
    font-weight: 900;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#home-spiel ul {
    margin: 0 10%;
    padding-left: 5%;
}


#home-spiel ul li {
    display: block;
    list-style: none;
    max-width: 60%;
    margin: 0 auto;
    text-align: left;

}

#home-spiel ul li a {
    text-decoration: none;
    color: black;
}

#home-spiel ul li a h4 {
    font-size: 1.5em;
    padding-top: 1%;
}

#home-spiel ul li a img {
    max-width: 100%;
    border-radius: 10% 10% 50% 50%;
    box-shadow: 2px 2px 10px lightgrey, -2px -2px 10px lightgrey;
}

#home-spiel ul li a i {
    transform: scale(0.5, 0.5);
}

#home-spiel ul li a:hover img {
    border-radius: 10%;
}

#home-spiel ul li a:hover i {
    color: #8DC58C;
    border-radius: 50%;
}


/* Countries Page: Map */
#map {
    padding: 5% 10%;
}

#map ul {
    padding-left: 6%;
}

#map ul li {
    display: block;
    padding: 2%;
    list-style: none;
    max-width: 60%;
    margin: 0 auto;
}

#map ul li a {
    color: black;
    text-decoration: none;
}

#map ul li a h3, img {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#map ul li a h3 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

#map ul li a img {
    max-height: 250px;
    box-shadow: 2px 2px 10px lightgrey, -2px -2px 10px lightgrey;
    max-width: 100%;
    border-radius: 10% 10% 50% 50%;
}

#map ul li a:hover img {
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
    border-radius: 10%;
}

#explore {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#map iframe{
    width: 100%;
    height: 450px;
}

/* About Page */
#about h3 {
    font-size: 2.5em;
    text-align: left;
    color: black;
    margin: 20px 10%;
}

#about p {
    font-size: 1em;
    color: black;
    text-align: left;
    padding: 10px 15%;
}

.fa-phone-square {
    color: #8DC58C;
    padding-right: 10px;
}

.fa-envelope-square {
    color: #8DC58C;
    padding-right: 10px;
}

.fa-map-marker-alt {
    color: #EA4335;
    padding-right: 10px;
}

#about iframe {
    margin: 10px 15% 10px 15%;
    width: 70%;
    height: 200px;
    border-width: 0px;
    border-radius: 2px;
}

#jump-back-in a {
    font-size: 1em;
    color: black;
    text-decoration: none;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
}

#jump-back-in a:hover {
    color: #8DC58C;
}


/* References Page */
#references h3 {
    font-size: 1.5em;
    text-align: left;
    color: black;
    margin: 15px 10%;
}
#references h4 {
    font-size: 1.2em;
    text-align: left;
    color: black;
    margin: 10px 12%;
}

#references ul {
    padding-bottom: 15px;
}

#references ul li, a {
}

#references ul li {
    font-size: 1em;
    color: black;
    text-align: left;
    list-style: none;
    margin: 0 15%;
    padding: 5px;
}

#references ul li:nth-child(odd) {
    background-color: #F2F9F2;
}

#references ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
#references ul li a:hover {
    color: #8DC58C;
}

/* Individual Countries */
.topics p {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.topics iframe {
    margin: 10px 15% 10px 15%;
    width: 70%;
    height: 300px;
    border-width: 0px;
    border-radius: 2px;

}
.topics ul {
    padding-bottom: 20px;
}
.topics ul li {
    display: block;
    list-style: none;
    margin: 10px 10%;
}

.topics ul li a {
    text-decoration: none;
    color: black;
}

.topics ul li a h3, span, img{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.topics ul li a h3 {
    text-align: left;
    height: 30px;
    width: 100%;
    font-size: 2.5em;
}

.topics ul li a span {
    font-weight: 400;
    opacity: 0;
    width: 100%;
}

.topics ul li a:hover h3 {
    font-size: 1.75em;
}

.topics ul li a:hover span {
    opacity: 1;
}

.topics ul li a {
    width: 100%;
}

.topics ul li a img {
    width: 100%;
    border-radius: 10% 10% 50% 50%;
    box-shadow: 2px 2px 10px lightgrey, -2px -2px 10px lightgrey;

}

.topics ul li a:hover img {
    border-radius: 10%;
}

/* Individual Small Articles */
.small-article {
    margin: 0 10%;;
}
.small-article h3, h4 {
    text-align: right;
}

.small-article h3 {
    padding: 20px 10px 10px 10px;
    font-size: 1.5em;
}

.small-article h4 {
    padding-right: 10px;
    font-size: 1.2em;

}

.small-article p {
    text-align: left;
    padding: 10px 10%;
}

.small-article img {
    width: 70%;
    max-width: 200px;
}

/* Small Article Gallery */
.article-gallery {
    padding: 20px 15%;
}

.article-gallery img {
    border-radius: 5%;
}

/* Small Article comments */
.article-comments {
    padding: 10px 10%;
}
.article-comments input, textarea {
    border-radius: 2px;
}

.article-comments input[name=username], textarea, input[name=submit] {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.article-comments textarea {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 1em;
    width: 100%;
    height: 100px;
    text-align: left;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    resize: none;
    margin-bottom: 10px;
}

.article-comments textarea:focus {
    border: solid 2px #8DC58C;
    background-color: #F8F8F8;
}

.article-comments input[name=username] {
    width: 30%;
    height: 30px;
    background-color: white;
    border-bottom: solid 2px black;
    border-top: solid 0 white;
    border-left: solid 0 white;
    border-right: solid 0 white;
    line-height: 30px;
    padding: 5px 10px 5px 10px;
}

.article-comments input[name=username]:focus {
    border-color: #8DC58C;
}

.article-comments input[name=submit] {
    width: 20%;
    height: 40px;
    background-color: #8DC58C;
    border-bottom: solid 2px black;
    border-top: solid 0 white;
    border-left: solid 0 white;
    border-right: solid 0 white;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
}
.article-comments input[name=submit]:hover {
    border-bottom: solid 3px #5BAB59;
    text-shadow: 0.5px 0.5px black, -0.5px -0.5px black;
    cursor: pointer;
}

/* Individual Comments */
.individual-comments h4 {
    text-align: left;
    margin: 5% 2%;
}

.individual-comments p {
    margin: 2% 5%;
    padding: 20px;
}

.individual-comments p:nth-child(odd) {
    background-color: #F2F9F2;
}

/* ---- Suggestions ---- */
.browse {
    width: 100%;
    box-shadow: -2px -2px 5px grey;
}

.browse h2 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.browse ul {
    margin: 0 10%;
    padding-left: 5%;
    padding-bottom: 20px;
}

.browse ul li {
    display: block;
    list-style: none;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.browse ul li a {
    text-decoration: none;
    color: black;
}

.browse ul li a img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 10px lightgrey, -2px -2px 10px lightgrey;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.browse ul li a:hover img {
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

.browse ul li a h3 {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    padding-top: 1%;
    border-bottom: solid 2px white;
    border-radius: 3%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.browse ul li a:hover h3 {
    border-bottom: solid 2px #8DC58C;
}



/* ---- Stay Connected ---- */
.connect {
    padding: 10px 0 10px 0;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px -2px 5px grey;
}

.connect h2, p {
    text-align: center;
}

.connect h2 {
    padding-top: 10px;
}

.connect input {
    width: 145px;
    height: 30px;
    border-bottom: solid 2px black;
    border-top: solid 0 white;
    border-left: solid 0 white;
    border-right: solid 0 white;
    border-radius: 2px;
}

.connect input[placeholder] {
    padding-left: 5px;
}

.connect input[name=email] {
    background-color: white;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.connect input[name=email]:focus {
    border-color: #8DC58C;
}

.connect input[name=sign-up] {
    height: 34px;
    background-color: #8DC58C;
    border-bottom: solid 2px black;
    font-weight: 400;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.connect input[name=sign-up]:hover {
    border-bottom: solid 3px #5BAB59;
    text-shadow: 0.5px 0.5px black, -0.5px -0.5px black;
    cursor: pointer;
}

.connect p {
    padding-top: 10px;
}

.connect a {
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
}

/* Icons Animations*/
i.fab {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

i.fab:hover {
    transform: scale(1.1, 1.1);
}

i.fa-facebook-square:hover {
    color: #4267B2;
}

i.fa-twitter-square:hover {
    color: #4267B2;
}

i.fa-google-plus-square:hover {
    color: #DD5144;
}

i.fa-tumblr-square:hover {
    color: #36465D;
}

i.fa-instagram:hover {
    color: #BE33B4;
}

i.fa-snapchat-square:hover {
    color: #FFFC00;
}

i.fa-pinterest-square:hover {
    color: #BD081B;
}

/* ---- Footer ---- */
footer {
    padding: 10px;
    text-align: center;
    background-color: #8DC58C;
    box-shadow: -2px -2px 5px grey;
}
