* {
    margin: 0;
    padding: 0;
}

/* ---- Main ---- */

/* ---- Heading ---- */
.heading h2 {
    font-size: 3em;
}

#country-heading {
    background-color: #C8EAFB; /* backup colour */
    background-image: url(../images/oceania-heading.png);
    background-size: 100%;
}

#aust-heading {
    background-color: #A98EC5; /* backup colour */
    background-image: url(../images/aust-heading.jpg);
    background-size: 200%;
}

#malay-heading {
    background-color: #38271E; /* backup colour */
    background-image: url(../images/m-heading.jpg);
    background-size: 100%;
}

#nz-heading {
    background-color: #9FB7C3; /* backup colour */
    background-image: url(../images/nz-heading.jpg);
    background-size: 100%;
}

/* ---- Home Page ---- */
#home-spiel ul li {
    display: inline-block;
    max-width: 25%;
    padding-right: 3%;
}

#home-spiel ul li a i {
    transform: scale(1, 1);
}

/* Countries Page: Map */
#map ul li {
    display: inline-block;
}

#map ul li a h3 {
    text-align: left;
}

/* About Page */
#about p {
    font-size: 1.1em;
}

#jump-back-in a {
    font-size: 1.1em;
}

/* Individual Countries */
.topics {
    margin: 0;
}

.topics ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 1;
}

.topics ul li {
    flex-basis: 25%;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 200px;
}

.topics ul li a {
    display: block;
    min-width: 200px;
}

.topics ul li a h3 {
    height: 40px;
    font-size: 3em;
}

.topics ul li a:hover h3 {
    font-size: 2em;
}

.topics ul li span {
    min-width: 300px;
}

.topics ul li img {
    width: 100%;
    min-width: 300px;
}


/* ---- Suggestions ---- */
.browse ul h2 {
    font-size: 3em;
}

.browse ul {
    padding-left: 12%;
}

.browse ul li {
    display: inline-block;
    max-width: 25%;
    padding-right: 3%;

}
